 
 <section id="footer" class=" bg-inverse text-white py-3 mt-auto">
     <div class="container">
         <div class="content d-inline text-center">
             <p>&copy; Sam De Gracia <span>All Right Reserve 2017</span></p> 
         </div>
     </div>
 </section>
 
</body>
</html>