<% include ../partials/header %>

<section>
    <div class="container text-center p-3 mt-5 bg-success">
       <h1 class="display-3">Add Your Review</h1>
        <form action="/index/<%= data._id %>/comment" method="post">
            <input type="text" name="comment[text]" class="form-control mb-1 p-2 col-md-6 offset-md-3" placeholder="Your Message" required>
            <button class="btn btn-primary mr-auto">Add Review</button>
            </form>
    </div>
</section>

<% include ../partials/footer %>