<% include ../partials/header %>

<section>
    <div class="container m-5 p-5">
        <div class="col-md-6 offset-md-3">
            <h2>Fill Up The Form To Register</h2>
            <form action="/register" method="post">
                <input name="username" type="text" class="form-control mb-2" placeholder="Enter Username" autofocus required>
                <input name="password" type="password" class="form-control mb-2" placeholder="Enter Password" required>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<% include ../partials/footer %>