<% include ../partials/header %>


<section id="indexMainHead">
    <div class="jumbotron text-center">
        <h1 class="display-3">Welcome To YelpCamp</h1>
        <small class="lead">Explore or Create an amazing <strong> Camps!</strong></small>
        <hr>
        <a href="/index/new" class="btn btn-primary">Create</a>
    </div>
</section>

<section>
    <div class="container">
       <% data.forEach(function(data){ %>
        
        <div class="d-inline-block indexBlogContent">
            <img src="<%= data.image %>" alt="" class="img-fluid">
            <h6 class="display-3"><%=data.title %></h6>
            <hr>
            <p><%= data.body.substring(0,100) %>...</p>
            <a href="/index/<%= data._id %>" class="btn btn-primary">&raquo; view more</a>
        </div>
            
        <%  }) %>
    </div>
</section>


<% include ../partials/footer %>