<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camp Blog V1</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    
 <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Yelp Camp</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      
      <% if(!currentUser){ %>
       
        <a class="mr-sm-2" href='/register'>Register</a>
        <a class="mr-sm-2" href='/login'>Login</a>
    <% } else { %>
        <a href="/" class="p-2">Signed-In As <%= currentUser.username %>  </a> 
        <a class="mr-sm-2 ml-1" href='/logout'>Logout</a>
  <% } %>
    </form>
  </div>
</nav>

<div class="container main">
   <% if(error && error.length > 0){ %> 
    <div class="alert alert-danger" role="alert">
        <h2><%= error %></h2>
    </div> 
    <% } %>
     <% if(success && success.length > 0){ %> 
     <div class="alert alert-success" role="alert">
        <h2><%= success %></h2>
    </div>
    <% } %>
</div>
 